.intro_section1 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #353535;
    font-family: "Roboto-Bold" "NanumSquare", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  
  ul,
  li {
    margin: 0px;
    padding: 0px;
  }